.Movie {
  width: 100%;
  margin: 0 auto;
  padding-block: 2rem;
}

.movie_box {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.movie_card {
  box-shadow: var(--boxShadow);
  overflow: hidden;
  border-radius: 0.5rem;
  min-height: 19rem;
}

.movie_card_img {
  width: 100%;
  height: 16rem;
}

.movie_info {
  margin-top: 0.1rem;
  padding: 0.5rem;
  text-align: center;
}

.movie_card {
  transition: transform 0.3s;
  overflow-x: hidden;
}

.movie_card:hover {
  transform: scale(1.1);
}

/* Media Queries */

@media (max-width: 800px) {
  .movie_box {
    width: 80%;
    grid-template-columns: repeat(2, 1fr);
  }

  .movie_card_img {
    width: 100%;
    height: 22rem;
  }

  .movie_card {
    height: auto;
  }
}

@media (max-width: 600px) {
  .movie_box {
    width: 80%;
    grid-template-columns: repeat(1, 1fr);
  }

  .movie_card_img {
    width: 100%;
    height: 22rem;
  }

  .movie_card {
    margin: 0 auto;
    width: 100%;
    height: auto;
  }
}

.movie_info h5 {
  margin-bottom: 0.2rem;
}

@media (max-width: 400px) {
  .movie_box {
    width: 80%;
    grid-template-columns: repeat(1, 1fr);
  }

  .movie_card_img {
    width: 100%;
    height: 22rem;
  }
  .movie_card {
    margin: 0 auto;
    width: 100%;
    height: auto;
  }
}
