.Featuremovie_box {
  width: 95%;
  margin: 2rem auto;
  position: relative;
}

.Featuremovie_box_img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.movieInfo {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.movieInfo_movie {
  width: 70%;
  position: absolute;
  bottom: 2rem;
  display: grid;
  gap: 1rem;
  left: 2rem;
  font-weight: 600;
  color: #ffffff;
}

/* Media Queries */

@media (max-width: 600px) {
  .Featuremovie_box_img {
    height: auto;
  }

  .movieInfo_movie p {
    display: none;
  }
}
