.MovieInformation_box {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.MovieInformation_image {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image {
  margin: 0 auto;
  width: 20rem;
  height: auto;
  border-radius: 1rem;
  box-shadow: var(--boxShadow);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-top: 1rem;
}

.button button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.2rem;
  border: 1px solid #a1a1a1;
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
  font-weight: 600;
}

/* Movie Info */

.movieInformation_detail h1 {
  font-size: 2rem;
  line-height: 2rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
.categoryItem {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.movieInformation_detail h2 {
  margin: 1rem 0;
}

.topCast {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cast {
  width: 5rem;
  text-align: center;
  margin: 0 auto;
}

.cast .castImage {
  width: 100%;
  height: 7rem;
  border-radius: 1rem;
}

.movieInformation_category {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  gap: 1rem;
  margin: 1.5rem 0rem;
}

.recommended {
  text-align: center;
  margin-top: 4rem;
}

.recommended h1 {
  font-size: 2rem;
}

.cast p {
  font-weight: 600;
}

/* Media Queries */

@media (max-width: 800px) {
  .movieInformation_detail {
    text-align: center;
  }
  .MovieInformation {
    text-align: center;
  }

  .MovieInformation_box {
    grid-template-columns: 1fr;
    width: 95%;
    margin: 0 auto;
    gap: 0.2rem;
    margin-top: 2rem;
  }

  .movieInformation_detail h1 {
    font-size: 1.8rem;
  }
  .movieInformation_category {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    align-items: center;
    justify-content: center;
  }

  .overview {
    width: 100%;
  }

  .topCast {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 1rem;
  }
}

@media (max-width: 600px) {
  .movieInformation_detail {
    text-align: center;
  }
  .MovieInformation_box {
    grid-template-columns: 1fr;
    width: 95%;
    margin: 0 auto;
    gap: 0.2rem;
    margin-top: 2rem;
  }

  .movieInformation_detail h1 {
    font-size: 1.8rem;
  }

  .movieInformation_category {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
  }

  .overview {
    width: 100%;
  }

  .topCast {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 1rem;
  }
}

@media (max-width: 400px) {
  .movieInformation_detail {
    text-align: center;
  }
  .MovieInformation_box {
    grid-template-columns: 1fr;
    width: 95%;
    margin: 0 auto;
    gap: 0.2rem;
    margin-top: 2rem;
  }

  .movieInformation_detail h1 {
    font-size: 1.8rem;
  }

  .movieInformation_category {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .overview {
    width: 100%;
  }

  .topCast {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 1rem;
  }
}
